In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
data = {'Color': ['red', 'blue', 'green', 'blue']}

In [5]:
df = pd.DataFrame(data)
df

   Color
0    red
1   blue
2  green
3   blue

In [6]:
encoder = OneHotEncoder()

In [10]:
One = encoder.fit_transform(df[['Color']])

In [ ]:
df1 = pd.DataFrame(One.toarray(), columns=encoder.get_feature_names_out(['Color']))

In [13]:
df1

   Color_blue  Color_green  Color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         1.0          0.0        0.0